{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Welcome to the Weather Book</h2>
  <div>
    <h3>Create a new Category!</h3>
    <form action="{{ url_for(".weather_detail") }}" method="POST">
      {{ form.hidden_tag() }}
      {{ form.name.label }}{{ form.name(size=20) }}
      <input type="submit" name="create_category" id="create_category" value="Go">
    </form>
  </div>
  <div>
    {% for city in cities %}
      <div class="city">
        <h2>{{ city.category.name }}</h2>
        <p>Name: {{ city.name }}</p>
        <p>Zipcode: {{ city.zipcode }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
